#country {
  height:30px;
  width: 235px;
  font-size:14pt;
  border: solid;
  border-width: thin;
}

#add {
  background-color: rgb(217, 234, 238);
  border: none;
  height: 34px;
  width: 100px;
  font-size: 14pt;
}

#add:hover {
  background-color: rgb(140, 224, 255);
  cursor: pointer;
}

#search {
  height: 30px;
  width: 340px;
  margin-top: 5px;
  font-size: 14pt;
  border: solid;
  border-width: thin;
}

#x-button {
  color: red;
  background: none;
  border: none;
  height: 20px;
  font-size: 10pt;
}

#x-button:hover {
  color: white;
  background-color: rgb(255, 0, 0);
  cursor: pointer;
}

li {
  font-size: 14pt;
}
